<div class="row text-center">
    <div *ngFor="let item of items" class="col-md-3 col-sm-6 mb-3 col-6">
        <div (click)="verArtista(item)" class="card p-3 bg-dark animated fadeIn puntero">
            <img [src]="item.images | noimage" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-white">{{item.name}}</h5>
                <h6 *ngFor="let artista of item.artists" class="card-subtitle mb-2 text-muted">{{artista.name}}</h6>
            </div>
        </div>
    </div>
</div>